/*       ***************************** PÁGINA DE ENERGÍA RENOVABLE  *************************************          */


/* Estilo general de la galería de encabezado de energía renovable
   Define la estructura principal de la galería, centrándola en la pantalla */

.padre {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    height: 100vh; 
}

/* Contenedor de la galería
   Establece un cuadro de fondo y sombra para la galería */
.contenedor2 {
    position: relative; 
    width: auto;
    height: 300px;
    background: #f5f5f5;
    box-shadow: 0 30px 35px #dbdbdb;
    justify-content: center;
    margin: 0%; 
    margin-bottom: 5%;
}

/* Estilo de cada elemento individual en la galería
   Define los elementos individuales con forma y sombras */
.contenedor2 .slide .item{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #00000037;
    background-position: 10% 10%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
    justify-content: center;

}

/* Posiciona los dos primeros elementos para ocupar todo el ancho y alto del contenedor */
.slide .item:nth-child(1),
.slide .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

/* Posición de los elementos sucesivos en el carrusel */
.slide .item:nth-child(3){
    left: 50%;
}
.slide .item:nth-child(4){
    left: calc(50% + 220px);
}
.slide .item:nth-child(5){
    left: calc(50% + 440px);
}

/* Oculta elementos adicionales en el carrusel después de la quinta posición */
.slide .item:nth-child(n + 6){
    left: calc(50% + 660px);
    opacity: 0;
}

/* Contenedor de texto sobre la imagen del carrusel
   Posiciona y oculta el texto que aparece en cada elemento del carrusel */
.item .contenedor21{
    position: absolute;
    top: 50%;
    left: 150px;
    width: 300px;
    text-align: left;
    color: #ffffff;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
    font-weight: 900;
    align-content: space-around;
}

/* Muestra el contenedor de texto para el segundo elemento */
.slide .item:nth-child(2) .contenedor21{
    display: block;
}

/* Estilo del nombre de la ubicación en el contenedor de texto
   Anima y enfatiza el nombre con tamaño grande y mayúsculas */
.contenedor21 .name{
    font-size: 30px;
    text-transform: uppercase;
    font-weight:800;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}

/* Estilo de la descripción en el contenedor de texto
   Añade margen y una animación de aparición */
.contenedor21 .des{
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

/* Estilo del botón en el contenedor de texto
   Añade padding, cursor y animación para aparecer */
.contenedor21 button{
    padding: 10px 20px;
    border: 1px solid #000000;
    background-color: #ffffffea;
    border-radius: 22px;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}

/* Animación de aparición para el texto y los botones
   Transforma, difumina y hace que aparezcan suavemente */
@keyframes animate {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

/* Estilo del contenedor de botones del carrusel
   Posiciona los botones al fondo del contenedor */
.button {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

/* Estilo para los botones de navegación
   Define tamaño, bordes redondeados y transición de color en hover */
.button button {
    width: 40px;
    height: 35px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.3s;
    position: relative; /* Necesario para los pseudo-elementos */
}

/* Flecha izquierda para el botón de navegación previa */
.button .prev::before {
    content: '';
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    border-width: 5px 10px 5px 0;
    border-style: solid;
    border-color: transparent #000 transparent transparent;
}

/* Flecha derecha para el botón de navegación siguiente */
.button .next::after {
    content: '';
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    border-width: 5px 0 5px 10px;
    border-style: solid;
    border-color: transparent transparent transparent #000;
}

/* Efecto hover en los botones del carrusel
   Cambia el fondo y el color del texto */
.button button:hover {
    background: #ababab;
    color: #000000;
}



/* Estilo de la sección de textos correspondiente a qué es la energía renovable (página Energía renovable)*/

.energy-section-interactive {
    margin-top: 50px;
    text-align: center;
    
}

/* Contenedor principal con efecto de vidrio y movimiento */
.interactive-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    background-color: rgba(255, 255, 255, 0.4); /* Fondo semitransparente */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    max-width: 900px;
    width: 90%;
    overflow: hidden;
    backdrop-filter: blur(10px); /* Efecto de vidrio */
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    will-change: transform; /* Optimización de rendimiento */
    box-shadow: 0 10px 50px #00000084;

}

.interactive-container:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.3);
}

/* Movimiento suave que sigue al cursor */
.interactive-container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.2), transparent);
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: transform 0.15s ease;
}

.interactive-container:hover::before {
    transform: translate(-50%, -50%) scale(1.1); /* Escala al hacer hover */
}

/* Ajuste de la imagen */
.image-container {
    position: relative;
    width: 200px;
    height: auto;
    margin-right: 10px;
}

/* Imagen con borde animado en tonos naranjas */
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: transform 0.5s ease;
    animation: gradient-border 5s linear infinite; /* Animación del borde */
}

/* Hover con transformación 3D */
.image-container:hover img {
    transform: rotateY(10deg) rotateX(6deg) scale(9.05);
}

/* Animación de borde degradado en tonos naranjas */
@keyframes gradient-border {
    0% {
        border-color: #98782e;
    }
    5% {
        border-color: #ffae42;
    }
    10% {
        border-color: #8f8105;
    }
    25% {
        border-color: #2a5b1b;
    }
    80% {
        border-color: #086018;
    }
    100% {
        border-color: #2f733b;
    }
}


.info {
    color: #273c27;
    font-size: 16px;
    max-width: 600px;
    line-height: 1.6;
}


/* Estilo de sección de energías renovables (página Energía renovable)*/

.energy-section {
    margin-top: 20px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.energy-section h2 {
    color: #273c27;
    font-size: 28px;
    margin-bottom: 20px;
}

.energy-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 50px;
}

.energy-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.energy-card:hover {
    transform: translateY(-5px);
}

.energy-card h3 {
    color: #3a4b1f;
    font-size: 22px;
    margin-bottom: 10px;
}

.energy-card p {
    color: #273c27;
    font-size: 16px;
    margin-bottom: 15px;
}

.energy-card ul {
    list-style: none;
    padding-left: 0;
}

.energy-card ul li {
    color: #273c27;
    font-size: 14px;
    margin-bottom: 8px;
}

.image-container3 {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 10%;
    }
    
    .responsive-image {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        z-index: 1;
    }


/* Estilo de los tipos de Energía renovable */
.hero-section {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 2%;
    margin-top: 3%;
    box-shadow: 0 30px 20px #00000029;

    }
    
    .card-container {
    display: flex;
    gap: 30px;
    width: 100%;
    justify-content: center;
    }
    
    .card {
    position: relative;
    list-style: none;
    width: 220px;
    transition: .3s ease;
    }
    
    .card::before {
    content:"";
    display: block;
    padding-bottom: 150%;
    width: 100%;
    }
    
    .card-background {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    border-radius: 20px;
    background-size: 350px;
    background-position: center;
    filter: brightness(.9) saturate (1) contrast(1);
    transform-origin: bottom;
    transform: scale(1) translateZ(0);
    transition: .3s ease;
    }
    
    .card:hover .card-background {
    transform: scale(1.15) translateZ(0);
    background-size: 260px;
    }
    
    .card-container:hover .card:not(:hover) {
    transform: scale(.9);
    }
    
    .card-container:hover > .card:not(:hover) .card-background,
    card-container:hover > .card:not(:hover) .card-category {
    filter: brightness(.5) saturate (0) contrast(1.2) blur(20px);
    }
    
    .contenedor {
    top: 50%;
    left: 0;
    padding: 25px;
    position: absolute;
    }

    .card-category {
    color: #fff;
    background-color: #00000016;
    padding: 5px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 5px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: 100%;
    }
    
    .card-heading {
    color: #fff;
    font-size: 25px;
    line-height: 1;
    text-shadow: 2px 2px 20px Irgba(0, 0, 0, 2);
    }


/* Estilo del título de la página Energía renovable */
.hero1 {
    padding: 20px;
    text-align: center;
    color: #273c27;
    font-size: 1.5em;
    margin: 40px 10% 0;
    background: linear-gradient(135deg, #ffffff, #ffffff);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgb(255, 255, 255);
    transition: transform 0.3s ease;
}

.hero1:hover {
    transform: translateY(-10px) scale(1.05);
}

/* Estilo del contenedor del cálculo de PRODUCCIÓN energía renovable por país (página Energía renovable)*/
.content {
    display: flex;
    justify-content: space-between;
    margin: 6% 6% 3%;
    padding: 2%;
    background: rgba(255, 255, 255, 0.622);
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.808);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.content:hover {
    transform: scale(1.02);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}

/* Estilo de las imágenes correspondientes (PRODUCCIÓN) al mapamundi y las casas (página Energía renovable)*/

.image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Agrega espacio entre las imágenes */
}

.map-section {
    width: 60%;
    text-align: center;
    background-color: #fefefe;
    padding: 30px;
    border-radius: 18px;
    border: 5px solid #2b461b; 
}
.map-section:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0px 8px 20px rgba(43, 70, 27, 0.3);
}

.map-section .filter-section {
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.house-section {
    text-align: center;
}

.house-section img {
    width: 60px;
    margin: 10px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.house-section img:hover {
    transform: scale(1.15);
    filter: brightness(1.3);

}

.map-section p {
    font-size: 20px;
    margin: 20px 0;
}

.map-section img {
    max-width: 50%; /* Ajusta el ancho máximo al 100% */
    height: auto; /* Mantiene la proporción de la imagen */
    margin: 20px 0;
}

/* Estilo de sección de Ranking PRODUCCIÓN (página Energía renovable)*/

.ranking-section {
    width: 30%;
    background: linear-gradient(135deg, #3a4b1f, #2b461b);
    padding: 20px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

.ranking-section::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg, rgb(111, 128, 16), rgba(26, 113, 5, 0));
    animation: rotate-border 5s linear infinite;
}
@keyframes rotate-border {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.ranking-section h2 {
    text-align: center;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    color: #273c27; 
}

.ranking-section ul {
    list-style: none;
    padding-left: 0;
    color: white;
}

.ranking-section ul li {
    font-size: 1.1em;
    margin-bottom: 15px;
}

/* Estilo del filtrado de PRODUCCIÓN país, año y tipo de energía (página Energía renovable)*/

.filter-section {
    justify-content: center;
    margin: 10px 0;
    gap: 20px;
    position: relative; 
    z-index: 10; 
}

.filter-section label {
    margin-right: 0px;
    
}

.filter-section select {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 15px;
    background-color: #4e7124;
    color: white;
    border: 2px solid #00000086;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

.filter-section button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #416801;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}


/* Estilo del filtrado de CONSUMO país, año y tipo de energía (página Energía renovable)*/

.filter-section2 {
    justify-content: center;
    margin: 10px 0;
    gap: 20px;
    position: relative; 
    z-index: 10; 
}

.filter-section2 label {
    margin-right: 0px;
    
}

.filter-section2 select {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 15px;
    background-color: #4e7813;
    color: white;
    border: 2px solid #365800;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-section2 select:hover {
    background-color: #3a4b1f;
}

.filter-section2 button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #3d6300;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.filter-section2 button:hover {
    background-color: #4b5e30;
    transform: scale(1.1);
}

/* Estilo del contenedor del cálculo de CONSUMO energía renovable por país (página Energía renovable)*/

.content2 {
    display: flex;
    justify-content: space-between;
    margin-left: 6%;
    margin-right: 6%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.808);
    padding: 2%;
    border-radius: 3%;
    
}

.content2:hover {
    transform: scale(1.02);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}

/* Estilo de las imágenes correspondientes a (CONSUMO) al mapamundi y las casas (página Energía renovable)*/

.image-section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Agrega espacio entre las imágenes */
}

.map-section2 {
    width: 60%;
    text-align: center;
    background: #f3f3f3;
    padding: 30px;
    border-radius: 18px;
    border: 5px solid #6c8100; 
    transition: transform 0.3s ease;
}

.map-section2:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0px 8px 20px rgba(43, 70, 27, 0.3);
}

.map-section2 .filter-section2 {
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.house-section {
    text-align: center;
}

.house-section img {
    width: 60px;
    margin: 10px;
}

.map-section2 p {
    font-size: 20px;
    margin: 20px 0;
}

.map-section2 img {
    max-width: 50%; /* Ajusta el ancho máximo al 100% */
    height: auto; /* Mantiene la proporción de la imagen */
    margin: 20px 0;
}

/* Estilo de sección de Ranking CONSUMO (página Energía renovable)*/

.ranking-section2 {
    width: 30%;
    background: linear-gradient(135deg, #3a4b1f, #2b461b);
    padding: 20px;
    border-radius: 10px;
    color: white;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

.ranking-section2::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg, rgba(251, 255, 0, 0.551), rgba(122, 120, 8, 0.458));
    animation: rotate-border 5s linear infinite;
}

.ranking-section2 h2 {
    text-align: center;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    color: #000000; 
}

.ranking-section2 ul {
    list-style: none;
    padding-left: 0;
}

.ranking-section2 ul li {
    font-size: 20px;
    margin-bottom: 15px;
}


/* */

.wrapper12 {
    width: 100%;
    height: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
    padding: 0%;
}

.container12 {
    height: 200px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card12 {
    width: 280px;
    border-radius: 10px;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card12 > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card12 > .row > .icon12 {
    background: #223;
    color: white;
    border-radius: 10px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card12 > .row > .description12 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description12 p {
    color: #b0b0ba;
    padding-top: 5px;
}

.description12 h4 {
    text-transform: uppercase;
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description12 {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card12[for="c1"] {
    background-image: url(/images/image1.jpg);
}
.card12[for="c2"] {
    background-image: url(/images/image2.jpg);
}
.card12[for="c3"] {
    background-image: url(/images/image3.jpg);
}
.card12[for="c4"] {
    background-image: url(/images/image4.webp);
}
.card12[for="c5"] {
    background-image: url(/images/image5.jpg);
}
.card12[for="c5"] {
    background-image: url(/images/image6.jpg);
}