/*       ***************************** CUALQUIER PÁGINA (Energía, inicio, país, búsqueda) *************************************          */


/* Estilos globales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Estilo del cuerpo de todas las páginas (Energía, inicio, país, búsqueda) */

body {
    font-family: Arial, sans-serif;
    background-color: #e5e5e5;
    color: #273c27;
}

/*Estilo de la barra de navegación de todas las páginas (Energía, inicio, país, búsqueda) */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    backdrop-filter: blur(80px); /* Efecto de desenfoque para el cristal */
    background: radial-gradient(at 87.13% 99.67%, rgb(196, 163, 17) 0%, hsla(101, 76.67%, 47.06%, 0) 100%), 
                radial-gradient(at 28.45% 55.02%, rgb(69, 91, 18) 0%, hsla(77.9, 83.78%, 29.02%, 0) 100%), 
                radial-gradient(at 22.85% 44.71%, rgb(174, 146, 11) 0%, hsla(50.04, 91.02%, 48.04%, 0) 100%), 
                radial-gradient(at 66.68% 30.92%, rgb(137, 88, 4) 0%, hsla(38, 96%, 49.02%, 0) 100%), 
                radial-gradient(at 82.56% 77.13%, rgb(41, 116, 6) 0%, hsla(101, 76.67%, 47.06%, 0) 100%), 
                radial-gradient(at 61.94% 61.17%, rgb(28, 147, 6) 0%, hsla(77.9, 83.78%, 29.02%, 0) 100%);
    background-blend-mode: overlay;
    color: #ffffff;
    box-shadow: 0 8px 20px rgba(55, 59, 56, 0.041); /* Sombra debajo de la barra */
    transition: top 0.3s;
    padding: 22px;
}

/* Subraya la página en la que se encuentra el usuario (páginas Energía, inicio, país, búsqueda) */

nav ul li a.active {
    background-color: #3353018b;
    font-weight: bold; 
}

/* Estilo del logo de todas las páginas (Energía, inicio, país, búsqueda)*/

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-left: 50px;
}

.logo h1 {
    color: #ffffff;
    margin-left: 20px;
    font-size: 24px;
}

/* Estilo de listado  de todas las páginas (Energía, inicio, país, búsqueda)*/

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 30px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 16px;
    background-color: #31421633;
    border-radius: 100px;
}

nav ul li a:hover {
    background-color: #7ba53333;
    color: #ffffff;
    border-radius: 100px;
}

/* Estilo del cuadro y botón de búsqueda de todas las páginas (Energía, inicio, país, búsqueda)*/

.search-container {
    display: flex;
    align-items: center;
    position: relative;
}

.search-container input {
    padding: 10px;
    border-radius: 24px;
    border: none;
    margin-right: 20px;
}

.search-container button {
    position: relative;
    right: 59px; 
    background: none;
    border: none;
    cursor: pointer;
}

.search-container button img {
    width: 25px;
    height: 25px;
    align-content: center;
    padding-top: 15%;
}


/* Estilo de la imagen de inicio de sesión de todas las páginas (Energía, inicio, país, búsqueda)*/

.profile-icon {
    width: 40px;
    height: 40px;
    margin-left: 0px;
    margin-right: 50px;
}


/* Estilo del scroll hacia arriba de todas las páginas (Energía, inicio, país, búsqueda)*/

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    backdrop-filter: blur(80px); /* Efecto de desenfoque para el cristal */
    background: radial-gradient(at 87.13% 99.67%, rgb(100, 122, 41) 0%, hsla(101, 76.67%, 47.06%, 0) 100%), 
                radial-gradient(at 28.45% 55.02%, rgb(100, 153, 73) 0%, hsla(77.9, 83.78%, 29.02%, 0) 100%), 
                radial-gradient(at 82.56% 77.13%, rgb(65, 113, 43) 0%, hsla(101, 76.67%, 47.06%, 0) 100%), 
                radial-gradient(at 61.94% 61.17%, rgb(33, 65, 27) 0%, hsla(77.9, 83.78%, 29.02%, 0) 100%),
                radial-gradient(at 22.85% 44.71%, rgb(174, 146, 11) 0%, hsla(50.04, 91.02%, 48.04%, 0) 100%), 
                radial-gradient(at 66.68% 30.92%, rgb(233, 136, 40) 0%, hsla(38, 96%, 49.02%, 0) 100%);
    background-blend-mode: overlay;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 14px 18px rgba(1, 48, 24, 0.5);
    transition: background-color 0.3s;
}

.scroll-to-top:hover {
    background-color: #3a4b1f;
}

.arrow {
    font-size: 30px;
    color: white;
}

.arrow:hover{
    color: rgb(255, 183, 0);
}

/* Estilo del footer de todas las páginas (Energía, inicio, país, búsqueda) */

footer {
    text-align: center;
    padding: 20px;
    background: #273c27;
    color: white;
    font-size: 14px;
}

/* Media query para hacer la barra de navegación responsiva */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .search-container {
        flex-direction: column;
    }

    .search-container input {
        width: 100%;
        margin-bottom: 10px;
    }
}